.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000, 0.5);
  backdrop-filter: blur(4px);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  opacity: 0;
  z-index: -1;

  transition: opacity .3s ease-out, z-index .3s ease-out;
  &.active {
    z-index: 999;
    opacity: 1;
  }
  &__body {
    position: relative;
    padding: 2rem;
    background-color: #fff;
    border-radius: 1rem;
    width: 100%;
  }
  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  &__title {
    font-size: 2.4rem;
    margin-bottom: 0rem;

    span {
      color: #441C67;
    }
  }
  &__desc {
    color: #000;
    font-size: 1.8rem;
    text-align: center;
    font-weight: 400;
    margin-bottom: 1.5rem;
  }
}


.modal-info {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000, 0.5);
  backdrop-filter: blur(4px);

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  padding: 2rem;

  opacity: 0;
  z-index: -1;
  transition: opacity .3s ease-out, z-index .3s ease-out;

  &.active {
    opacity: 1;
    z-index: 999;
  }
  &__wrapper {
    width: 100%;
  }
  &__slide {
    box-sizing: border-box;
    width: 30rem;
    background-color: #fff;

    padding: 2rem;
  }

  &__row {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &__col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem 3rem;
    margin-bottom: 3rem;
  }

  &__slider {
    width: 100%;
    min-width: 0;
    max-width: 100%;
  }
  &__icon {
    width: 4rem;
    height: 4rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__title {
    display: block;
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }

  &__capture {
    font-size: 1.8rem;
  }

  &__table {
    display: block;
    width: 100%;

    border: 1px solid purple;
    padding: 1rem 2rem;
    caption {
      display: block;
      text-align: center;
      margin-bottom: 1rem;
    }
    tbody {
      width: 100%;
      display: block;
      tr {
        display: flex;
        justify-content: space-between;
        td {
          flex: 1;
          border: 1px solid purple;
          text-align: center;
          padding: 1rem;
          font-size: 1.6rem;
          font-weight: 600;

          &:not(:last-child){
            border-right: none;
          }
        }
      }
    }
  }
}


