<section class="faq" id="faq">
  <div class="container">
    <h2 class="title2 faq__title">Вопросы и ответы</h2>

    <div class="faq__items">
      <div class="faq__item">
        <div class="faq__header">
          <span class="faq__capture">Сложно ли управлять электротехникой?</span>

          <span class="faq__arr">
          </span>
        </div>
        <div class="faq__content">
          <p class="faq__desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, omnis qui blanditiis accusantium maiores eaque architecto saepe quia itaque nostrum mollitia enim ut quibusdam ipsum veritatis. Aliquid consectetur natus quasi, amet reiciendis assumenda suscipit magnam aliquam necessitatibus pariatur ipsum quae cumque sapiente qui? Voluptate recusandae eveniet laudantium perspiciatis, eum doloribus nulla molestias mollitia sed asperiores odit, nobis harum sequi repudiandae rerum. Optio quam ducimus aspernatur laborum magni voluptatum, quasi repellat quos tenetur dignissimos explicabo quo totam repudiandae labore accusamus quisquam rerum perspiciatis exercitationem repellendus consectetur molestias voluptatibus quae odio natus? Repellat ad, voluptatum ex quod omnis provident fuga ipsum cumque.
          </p>
        </div>
      </div>
      <div class="faq__item">
        <div class="faq__header">
          <span class="faq__capture">Для проката нужна специальная экипировка?</span>

          <span class="faq__arr">
          </span>
        </div>
        <div class="faq__content">
          <p class="faq__desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, omnis qui blanditiis accusantium maiores eaque architecto saepe quia itaque nostrum mollitia enim ut quibusdam ipsum veritatis. Aliquid consectetur natus quasi, amet reiciendis assumenda suscipit magnam aliquam necessitatibus pariatur ipsum quae cumque sapiente qui? Voluptate recusandae eveniet laudantium perspiciatis, eum doloribus nulla molestias mollitia sed asperiores odit, nobis harum sequi repudiandae rerum. Optio quam ducimus aspernatur laborum magni voluptatum, quasi repellat quos tenetur dignissimos explicabo quo totam repudiandae labore accusamus quisquam rerum perspiciatis exercitationem repellendus consectetur molestias voluptatibus quae odio natus? Repellat ad, voluptatum ex quod omnis provident fuga ipsum cumque.
          </p>
        </div>
      </div>
      <div class="faq__item">
        <div class="faq__header">
          <span class="faq__capture">Сложность прохождения маршрутов? Есть ли там грязь, броды и т.д?</span>

          <span class="faq__arr">
          </span>
        </div>
        <div class="faq__content">
          <p class="faq__desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, omnis qui blanditiis accusantium maiores eaque architecto saepe quia itaque nostrum mollitia enim ut quibusdam ipsum veritatis. Aliquid consectetur natus quasi, amet reiciendis assumenda suscipit magnam aliquam necessitatibus pariatur ipsum quae cumque sapiente qui? Voluptate recusandae eveniet laudantium perspiciatis, eum doloribus nulla molestias mollitia sed asperiores odit, nobis harum sequi repudiandae rerum. Optio quam ducimus aspernatur laborum magni voluptatum, quasi repellat quos tenetur dignissimos explicabo quo totam repudiandae labore accusamus quisquam rerum perspiciatis exercitationem repellendus consectetur molestias voluptatibus quae odio natus? Repellat ad, voluptatum ex quod omnis provident fuga ipsum cumque.
          </p>
        </div>
      </div>
      <div class="faq__item">
        <div class="faq__header">
          <span class="faq__capture">Защита от клещей?</span>

          <span class="faq__arr">
          </span>
        </div>
        <div class="faq__content">
          <p class="faq__desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, omnis qui blanditiis accusantium maiores eaque architecto saepe quia itaque nostrum mollitia enim ut quibusdam ipsum veritatis. Aliquid consectetur natus quasi, amet reiciendis assumenda suscipit magnam aliquam necessitatibus pariatur ipsum quae cumque sapiente qui? Voluptate recusandae eveniet laudantium perspiciatis, eum doloribus nulla molestias mollitia sed asperiores odit, nobis harum sequi repudiandae rerum. Optio quam ducimus aspernatur laborum magni voluptatum, quasi repellat quos tenetur dignissimos explicabo quo totam repudiandae labore accusamus quisquam rerum perspiciatis exercitationem repellendus consectetur molestias voluptatibus quae odio natus? Repellat ad, voluptatum ex quod omnis provident fuga ipsum cumque.
          </p>
        </div>
      </div>
      <div class="faq__item">
        <div class="faq__header">
          <span class="faq__capture">Могу ли я арендовать электротехнику на несколько дней?</span>

          <span class="faq__arr">
          </span>
        </div>
        <div class="faq__content">
          <p class="faq__desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, omnis qui blanditiis accusantium maiores eaque architecto saepe quia itaque nostrum mollitia enim ut quibusdam ipsum veritatis. Aliquid consectetur natus quasi, amet reiciendis assumenda suscipit magnam aliquam necessitatibus pariatur ipsum quae cumque sapiente qui? Voluptate recusandae eveniet laudantium perspiciatis, eum doloribus nulla molestias mollitia sed asperiores odit, nobis harum sequi repudiandae rerum. Optio quam ducimus aspernatur laborum magni voluptatum, quasi repellat quos tenetur dignissimos explicabo quo totam repudiandae labore accusamus quisquam rerum perspiciatis exercitationem repellendus consectetur molestias voluptatibus quae odio natus? Repellat ad, voluptatum ex quod omnis provident fuga ipsum cumque.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
