<section class="hero">
  <div class="container">
    <div class="hero__content">
      <h1 class="hero__title">Прокат электротехники для незабываемых приключений</h1>
      <p class="hero__desc">
        Исследуйте живописные маршруты на электровелосипедах, электросамокатах и другом экологичном транспорте.
      </p>

      <div class="hero__buttons">
        <a href="#" class="hero__btn btn">Смотреть маршруты</a>
        <a href="#" class="hero__btn btn btn--purple">Скачать приложение</a>
      </div>
    </div>
  </div>
</section>
