<div class="menu">
  <div class="menu__body">
    <nav class="nav menu__nav">
      <ul class="list-reset nav__list">
        <li class="nav__item">
          <a href="#tech" class="nav__link">Техника</a>
        </li>
        <li class="nav__item">
          <a href="#points" class="nav__link">Точки проката</a>
        </li>
        <li class="nav__item">
          <a href="#roads" class="nav__link">Маршруты</a>
        </li>
        <li class="nav__item">
          <a href="#hu" class="nav__link">Как воспользоваться</a>
        </li>
        <li class="nav__item">
          <a href="#faq" class="nav__link">Вопросы и ответы</a>
        </li>
      </ul>
    </nav>

    <a href="tel:" class="menu__link">Звони: 8800800</a>
    <a href="#!" class="menu__link">Качай Приложение</a>
  </div>
</div>
