<div class="modal-info">
  <div class="modal-info__wrapper">
    <div class="modal-info__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide modal-info__slide">
          <div class="modal-info__title title2">Суррон</div>
          <div class="modal-info__col">
            <div class="modal-info__row">
              <div class="modal-info__icon">
                <img src="./img/speed.png" alt="">
              </div>
              <span class="modal-info__capture">50 км/ч</span>
            </div>
            <div class="modal-info__row">
              <div class="modal-info__icon">
                <img src="./img/road-icon.png" alt="">
              </div>
              <span class="modal-info__capture">80 км</span>
            </div>
            <div class="modal-info__row">
              <div class="modal-info__icon">
                <img src="./img/time.png" alt="">
              </div>
              <span class="modal-info__capture">4 часа</span>
            </div>
          </div>

          <table class="modal-info__table">
            <caption>Время проката (в часах)</caption>
            <tbody>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>5+</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="swiper-slide modal-info__slide">
          <div class="modal-info__title title2">Суррон 2</div>
          <div class="modal-info__col">
            <div class="modal-info__row">
              <div class="modal-info__icon">
                <img src="./img/speed.png" alt="">
              </div>
              <span class="modal-info__capture">50 км/ч</span>
            </div>
            <div class="modal-info__row">
              <div class="modal-info__icon">
                <img src="./img/road-icon.png" alt="">
              </div>
              <span class="modal-info__capture">80 км</span>
            </div>
            <div class="modal-info__row">
              <div class="modal-info__icon">
                <img src="./img/time.png" alt="">
              </div>
              <span class="modal-info__capture">4 часа</span>
            </div>
          </div>

          <table class="modal-info__table">
            <caption>Время проката (в часах)</caption>
            <tbody>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>5+</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="swiper-slide modal-info__slide">
          <div class="modal-info__title title2">Суррон 3</div>
          <div class="modal-info__col">
            <div class="modal-info__row">
              <div class="modal-info__icon">
                <img src="./img/speed.png" alt="">
              </div>
              <span class="modal-info__capture">50 км/ч</span>
            </div>
            <div class="modal-info__row">
              <div class="modal-info__icon">
                <img src="./img/road-icon.png" alt="">
              </div>
              <span class="modal-info__capture">80 км</span>
            </div>
            <div class="modal-info__row">
              <div class="modal-info__icon">
                <img src="./img/time.png" alt="">
              </div>
              <span class="modal-info__capture">4 часа</span>
            </div>
          </div>

          <table class="modal-info__table">
            <caption>Время проката (в часах)</caption>
            <tbody>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>5+</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="swiper-slide modal-info__slide">
          <div class="modal-info__title title2">Суррон 4</div>
          <div class="modal-info__col">
            <div class="modal-info__row">
              <div class="modal-info__icon">
                <img src="./img/speed.png" alt="">
              </div>
              <span class="modal-info__capture">50 км/ч</span>
            </div>
            <div class="modal-info__row">
              <div class="modal-info__icon">
                <img src="./img/road-icon.png" alt="">
              </div>
              <span class="modal-info__capture">80 км</span>
            </div>
            <div class="modal-info__row">
              <div class="modal-info__icon">
                <img src="./img/time.png" alt="">
              </div>
              <span class="modal-info__capture">4 часа</span>
            </div>
          </div>

          <table class="modal-info__table">
            <caption>Время проката (в часах)</caption>
            <tbody>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>5+</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="swiper-slide modal-info__slide">
          <div class="modal-info__title title2">Суррон 5</div>
          <div class="modal-info__col">
            <div class="modal-info__row">
              <div class="modal-info__icon">
                <img src="./img/speed.png" alt="">
              </div>
              <span class="modal-info__capture">50 км/ч</span>
            </div>
            <div class="modal-info__row">
              <div class="modal-info__icon">
                <img src="./img/road-icon.png" alt="">
              </div>
              <span class="modal-info__capture">80 км</span>
            </div>
            <div class="modal-info__row">
              <div class="modal-info__icon">
                <img src="./img/time.png" alt="">
              </div>
              <span class="modal-info__capture">4 часа</span>
            </div>
          </div>

          <table class="modal-info__table">
            <caption>Время проката (в часах)</caption>
            <tbody>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>5+</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="swiper-slide modal-info__slide">
          <div class="modal-info__title title2">Суррон 6</div>
          <div class="modal-info__col">
            <div class="modal-info__row">
              <div class="modal-info__icon">
                <img src="./img/speed.png" alt="">
              </div>
              <span class="modal-info__capture">50 км/ч</span>
            </div>
            <div class="modal-info__row">
              <div class="modal-info__icon">
                <img src="./img/road-icon.png" alt="">
              </div>
              <span class="modal-info__capture">80 км</span>
            </div>
            <div class="modal-info__row">
              <div class="modal-info__icon">
                <img src="./img/time.png" alt="">
              </div>
              <span class="modal-info__capture">4 часа</span>
            </div>
          </div>

          <table class="modal-info__table">
            <caption>Время проката (в часах)</caption>
            <tbody>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>5+</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
