<div class="modal-info">
  <div class="modal-price">
    <table>
      <thead>
        <tr>
          <th>Транспорт</th>
          <th>Цена</th>
          <th>Время</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Мотоцикл</td>
          <td>500 руб</td>
          <td>1 час</td>
        </tr>
        <tr>
          <td>Велосипед</td>
          <td>500 руб</td>
          <td>1 час</td>
        </tr>
        <tr>
          <td>Квадроцикл</td>
          <td>500 руб</td>
          <td>1 час</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-chars">
    <table>
      <thead>
        <tr>
          <th>Транспорт</th>
          <th>Особенности</th>
          <th>Макс. Скорость</th>
          <th>Год выпуска</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Мотоцикл</td>
          <td>Мощный двигатель, отличная маневренность, надежный</td>
          <td>220 км/час</td>
          <td>2020</td>
        </tr>
        <tr>
          <td>Велосипед</td>
          <td>Горный велосипед, 21 передача, алюминевая конструкция</td>
          <td>40 км/час</td>
          <td>2020</td>
        </tr>
        <tr>
          <td>Квадроцикл</td>
          <td>Мощный двигатель, отличная маневренность, надежный</td>
          <td>180 км/час</td>
          <td>2018</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
