<section class="points" id="points">
  <div class="container">
    <h2 class="title2 points__title">Точки <span>проката</span></h2>
    <p class="points__desc desc">
      Мы имеем 10 точек проката, расположенных в удобных местах по всему городу. Выберите ближайшую к вам и начните свое электропутешествие!
    </p>

    <div id="map" class="points__map"></div>

    <div class="points__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide points__slide">
          <span class="points__capture">. г. Сысерть, ул. Ленина, д.1</span>
          <p class="points__text">
            В пунтке проката ТП 1 доступны велосипеды, квадроциклы и мотоциклы. Здесь же можно получиь конусльтацию по выбору маршрута и экипировки
          </p>
        </div>
        <div class="swiper-slide points__slide">
          <span class="points__capture">. г. Сысерть, ул. Ленина, д.1</span>
          <p class="points__text">
            В пунтке проката ТП 2 доступны велосипеды, квадроциклы и мотоциклы. Здесь же можно получиь конусльтацию по выбору маршрута и экипировки
          </p>
        </div>
        <div class="swiper-slide points__slide">
          <span class="points__capture">. г. Сысерть, ул. Ленина, д.1</span>
          <p class="points__text">
            В пунтке проката ТП 3 доступны велосипеды, квадроциклы и мотоциклы. Здесь же можно получиь конусльтацию по выбору маршрута и экипировки
          </p>
        </div>
      </div>
    </div>

    <div class="points__bottom">
      <a href="#" class="points__btn btn btn--purple">
        Точки проката
      </a>
    </div>
  </div>
</section>
