<section class="roads">
  <div class="container">
    <h2 class="title2 roads__title">Маршруты</h2>

    <div class="roads__buttons">
      <div class="roads__wrapper swiper">
        <div class="swiper-wrapper">
          <a href="#" class="btn btn--purple swiper-slide roads__btn roads-btn active">
            Горный маршрут
          </a>
          <a href="#" class="btn btn--purple swiper-slide roads__btn roads-btn">
            Семейный маршрут
          </a>

          <a href="#" class="btn btn--purple swiper-slide roads__btn roads-btn">
            Горный маршрут
          </a>
          <a href="#" class="btn btn--purple swiper-slide roads__btn roads-btn">
            Семейный маршрут
          </a>
          <a href="#" class="btn btn--purple swiper-slide roads__btn roads-btn">
            Озеро
          </a>
          <a href="#" class="btn btn--purple swiper-slide roads__btn roads-btn">
            Вечерняя прогулка
          </a>
          <a href="#" class="btn btn--purple swiper-slide roads__btn roads-btn">
            Озеро
          </a>
          <a href="#" class="btn btn--purple swiper-slide roads__btn roads-btn">
            Вечерняя прогулка
          </a>
        </div>
      </div>
      <div class="btn btn--purple roads__btn roads__btn--next">Далее</div>
    </div>

    <div class="roads__slider swiper" id="roads-map">
      <div class="roads__pagination"></div>

      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="roads__map">
            <img src="./img/road.png" alt="">
          </div>
          <div class="roads__capture">"Лесная тропа" (легкий 5 км)</div>
          <p class="desc roads__desc">
            Описание маршрута: Прогулка по живописной лесной тропе, где можно насладиться свежим воздухом и пением птиц. Подходит для начинающих велосипедистов и семей с детьми.
          </p>
        </div>
        <div class="swiper-slide">
          <div class="roads__map">
            <img src="./img/road.png" alt="">
          </div>
          <div class="roads__capture">"Лесная тропа" (легкий 5 км)</div>
          <p class="desc roads__desc">
            Описание маршрута: Прогулка по живописной лесной тропе, где можно насладиться свежим воздухом и пением птиц. Подходит для начинающих велосипедистов и семей с детьми.
          </p>
        </div>
        <div class="swiper-slide">
          <div class="roads__map">
            <img src="./img/road.png" alt="">
          </div>
          <div class="roads__capture">"Лесная тропа" (легкий 5 км)</div>
          <p class="desc roads__desc">
            Описание маршрута: Прогулка по живописной лесной тропе, где можно насладиться свежим воздухом и пением птиц. Подходит для начинающих велосипедистов и семей с детьми.
          </p>
        </div>
        <div class="swiper-slide">
          <div class="roads__map">
            <img src="./img/road.png" alt="">
          </div>
          <div class="roads__capture">"Лесная тропа" (легкий 5 км)</div>
          <p class="desc roads__desc">
            Описание маршрута: Прогулка по живописной лесной тропе, где можно насладиться свежим воздухом и пением птиц. Подходит для начинающих велосипедистов и семей с детьми.
          </p>
        </div>
        <div class="swiper-slide">
          <div class="roads__map">
            <img src="./img/road.png" alt="">
          </div>
          <div class="roads__capture">"Лесная тропа" (легкий 5 км)</div>
          <p class="desc roads__desc">
            Описание маршрута: Прогулка по живописной лесной тропе, где можно насладиться свежим воздухом и пением птиц. Подходит для начинающих велосипедистов и семей с детьми.
          </p>
        </div>
        <div class="swiper-slide">
          <div class="roads__map">
            <img src="./img/road.png" alt="">
          </div>
          <div class="roads__capture">"Лесная тропа" (легкий 5 км)</div>
          <p class="desc roads__desc">
            Описание маршрута: Прогулка по живописной лесной тропе, где можно насладиться свежим воздухом и пением птиц. Подходит для начинающих велосипедистов и семей с детьми.
          </p>
        </div>
        <div class="swiper-slide">
          <div class="roads__map">
            <img src="./img/road.png" alt="">
          </div>
          <div class="roads__capture">"Лесная тропа" (легкий 5 км)</div>
          <p class="desc roads__desc">
            Описание маршрута: Прогулка по живописной лесной тропе, где можно насладиться свежим воздухом и пением птиц. Подходит для начинающих велосипедистов и семей с детьми.
          </p>
        </div>
        <div class="swiper-slide">
          <div class="roads__map">
            <img src="./img/road.png" alt="">
          </div>
          <div class="roads__capture">"Лесная тропа" (легкий 5 км)</div>
          <p class="desc roads__desc">
            Описание маршрута: Прогулка по живописной лесной тропе, где можно насладиться свежим воздухом и пением птиц. Подходит для начинающих велосипедистов и семей с детьми.
          </p>
        </div>
      </div>
    </div>


    <div class="roads__control">
      <div class="roads__arr roads__arr--prev">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 268.831 268.832"
          xml:space="preserve">
        <g>
          <path d="M223.255,83.659l-80-79.998c-4.881-4.881-12.797-4.881-17.678,0l-80,80c-4.883,4.882-4.883,12.796,0,17.678
            c2.439,2.44,5.64,3.661,8.839,3.661s6.397-1.221,8.839-3.661l58.661-58.661v213.654c0,6.903,5.597,12.5,12.5,12.5
            c6.901,0,12.5-5.597,12.5-12.5V42.677l58.661,58.659c4.883,4.881,12.797,4.881,17.678,0
            C228.137,96.455,228.137,88.541,223.255,83.659z"/>
        </g>
        </svg>
      </div>
      <div class="roads__arr roads__arr--next">

        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 268.831 268.832"
          xml:space="preserve">
        <g>
          <path d="M223.255,83.659l-80-79.998c-4.881-4.881-12.797-4.881-17.678,0l-80,80c-4.883,4.882-4.883,12.796,0,17.678
            c2.439,2.44,5.64,3.661,8.839,3.661s6.397-1.221,8.839-3.661l58.661-58.661v213.654c0,6.903,5.597,12.5,12.5,12.5
            c6.901,0,12.5-5.597,12.5-12.5V42.677l58.661,58.659c4.883,4.881,12.797,4.881,17.678,0
            C228.137,96.455,228.137,88.541,223.255,83.659z"/>
        </g>
        </svg>
      </div>
    </div>
  </div>
</section>
