<section class="tech" id="tech">
  <div class="tech__images swiper swiper-no-swiping">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/tech/01.webp">
          <img src="./img/tech/01.jpg" alt="">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/tech/02.webp">
          <img src="./img/tech/02.jpg" alt="">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/tech/03.webp">
          <img src="./img/tech/03.jpg" alt="">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/tech/04.webp">
          <img src="./img/tech/04.jpg" alt="">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/tech/05.webp">
          <img src="./img/tech/05.jpg" alt="">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/tech/06.webp">
          <img src="./img/tech/06.jpg" alt="">
        </picture>
      </div>
    </div>
  </div>
  <div class="container">
    <h2 class="title2 tech__title">Наш электропарк</h2>
  </div>
    <div class="tech__wrapper">
      <div class="tech__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide modal-btn-chars">
            <div class="tech__slide">
              <div class="tech__image tech__image--dark">
                <picture>
                  <source srcset="./img/tech/01.webp">
                  <img src="./img/tech/01.jpg" alt="">
                </picture>
              </div>

              <div class="tech__capture">Велосипед</div>

              <div class="tech__bottom">
                <p class="tech__desc desc">
                  Легкие, маневренные и экологичные велосипеды для комфортных прогулок по городу и за его пределами.
                </p>
                <span class="tech__price">
                  500 руб/час
                </span>
              </div>
            </div>
          </div>
          <div class="swiper-slide modal-btn-chars">
            <div class="tech__slide">
              <div class="tech__image tech__image--dark">
                <picture>
                  <source srcset="./img/tech/02.webp">
                  <img src="./img/tech/02.jpg" alt="">
                </picture>
              </div>

              <div class="tech__capture">Мотоцикл</div>

              <div class="tech__bottom">
                <p class="tech__desc desc">
                  Быстрые и удобные мотоциклы для активного отдыха и передвижения по городским улицам
                </p>

                <span class="tech__price">
                  500 руб/час
                </span>
              </div>
            </div>
          </div>
          <div class="swiper-slide modal-btn-chars">
            <div class="tech__slide">
              <div class="tech__image">
                <picture>
                  <source srcset="./img/tech/03.webp">
                  <img src="./img/tech/03.jpg" alt="">
                </picture>
              </div>

              <div class="tech__capture">Квадроцикл</div>

              <div class="tech__bottom">
                <p class="tech__desc desc">
                  Мощные и стильные квадроциклы для дальних поездок и захватывающих приключений
                </p>

                <span class="tech__price">
                  500 руб/час
                </span>
              </div>
            </div>
          </div>
          <div class="swiper-slide modal-btn-chars">
            <div class="tech__slide">
              <div class="tech__image">
                <picture>
                  <source srcset="./img/tech/04.webp">
                  <img src="./img/tech/04.jpg" alt="">
                </picture>
              </div>

              <div class="tech__capture">Велосипед</div>

              <div class="tech__bottom">
                <p class="tech__desc desc">
                  Прогуляйся по парку, покори горную тропу или отправься в дальнее путешествие
                </p>

                <span class="tech__price">
                  500 руб/час
                </span>
              </div>
            </div>
          </div>
          <div class="swiper-slide modal-btn-chars">
            <div class="tech__slide">
              <div class="tech__image">
                <picture>
                  <source srcset="./img/tech/05.webp">
                  <img src="./img/tech/05.jpg" alt="">
                </picture>
              </div>

              <div class="tech__capture">Мотоцикл</div>

              <div class="tech__bottom">
                <p class="tech__desc desc">
                  Исследуйте новые маршруты, покоряйте крутые повороты
                </p>

                <span class="tech__price">
                  500 руб/час
                </span>
              </div>
            </div>
          </div>
          <div class="swiper-slide modal-btn-chars">
            <div class="tech__slide">
              <div class="tech__image">
                <picture>
                  <source srcset="./img/tech/06.webp">
                  <img src="./img/tech/06.jpg" alt="">
                </picture>
              </div>

              <div class="tech__capture">Квадроцикл</div>

              <div class="tech__bottom">
                <p class="tech__desc desc">
                  Преодолевайте препятствия, покоряйте вершины и заряжайтесь адреналином
                </p>

                <span class="tech__price">
                  500 руб/час
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <a class="btn btn-reset tech__btn btn--purple modal-btn">Арендовать</a>
    </div>

</section>
